@model GestionDesStages.Models.Encadrant

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Encadrant</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Bureau.Localisation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bureau.Localisation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prenom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prenom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateEmbauche)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateEmbauche)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bureau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bureau.Localisation)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EncadrantID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
