@model GestionDesStages.Models.Stagiaire

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Stagiaire</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Nom, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nom, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nom, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Prenom, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Prenom, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Prenom, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Age, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Age, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Age, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateDeNaissance, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateDeNaissance, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DateDeNaissance, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LieuDeNaissance, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LieuDeNaissance, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LieuDeNaissance, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Student, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Student)
                    @Html.ValidationMessageFor(model => model.Student, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        

        <div class="form-group">
            <label class="control-label col-md-2" for="DepartementID">Departement</label>
            <div class="col-md-10">
                @*@Html.DropDownList(ViewBag.Departement,"")*@
                @Html.DropDownList("DepartementID")
               @* @Html.ValidationMessageFor(model => model.Stages.FirstOrDefault().DepartementID)*@
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="StageID">Stage</label>
            <div class="col-md-10">
                @*@Html.DropDownListFor(model => model.Stages.FirstOrDefault().StageID, new SelectList(ViewBag.Stages))*@
                @Html.DropDownList("StageID")            
    @*@Html.ValidationMessageFor(model => model.Stages.FirstOrDefault().StageID)*@
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>

    </div>
}





<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
                    @Scripts.Render("~/bundles/jqueryval")


    <script type="text/jscript">
        $('#DepartementID').click(function () {
            var dep = $('#DepartementID').val();
            $.getJSON('/Stagiaire/GetStageByDepartment/' + $('#DepartementID').val(), function (data) {
                var dep = $('#DepartementID').val();
                            var items = '<table><tr><th>Name</th><th>Address</th></tr>';
                            var mySelect = $('#StageID');
                            if (mySelect != null) {
                                mySelect.empty();
                            }
                $.each(data, function (i, country) {

                                mySelect.append(
               $('<option></option>').html(country)
                       );


                            });

                        });
                    })
    </script>

    @*<script>


            $.each(myOptions, function (val, text) {
                mySelect.append(
                    $('<option></option>').val(val).html(text)
                );
            });

        </script>*@


}
